@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    
    height: 100%;
    width: 100%;

    text-align: center;
}

.container {
    flex-wrap: column;
}

.container .header {
    background-color: #515151;
    height: 60px;
}

.container .nav {
    background-color: #666666;
    height: 40px;
}

.container .main {
    background-color: #8c8c8c;
    height: 605px;
}

.container .footer {
    background-color: #b5b5b5;
    height: 40px;
}