@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
    

.container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.header {
    height: 50px;
    width: 100%;

    background-color: #707173;
}

.l-esq {
    height: 655px;
    width: 30%;

    background-color: #404143;
}

.main {
    height: 655px;
    width: 50%;

    background-color: #909193;
}

.l-dir {
    height: 655px;
    width: 20%;

    background-color: #404143;
}

.footer {
    height: 40px;
    width: 100%;

    background-color: #B0B1B3;
}